<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>composerId</key>
        <string>03</string>
        <key>albums</key>
        <array>
            <dict>
                <key>albumId</key>
                <string>01</string>
                <key>albumName</key>
                <string>后街男孩</string>
                <key>albumImage</key>
                <string>item_backstreetBoys_01_icon</string>
                <key>productionCompany</key>
                <string>Jive</string>
                <key>issueDate</key>
                <string>1996年5月6日（欧洲）/ 1996年9月（加拿大）</string>
                <key>albumData</key>
                <array>
                    <dict>
                        <key>id</key>
                        <string>01</string>
                        <key>lyricistName</key>
                        <string>Backstreet Boys</string>
                        <key>composerName</key>
                        <string>Backstreet Boys</string>
                        <key>duration</key>
                        <string>3:29</string>
                        <key>musicName</key>
                        <string>I want it that way</string>
                    </dict>
                    <dict>
                        <key>id</key>
                        <string>02</string>
                        <key>lyricistName</key>
                        <string>Backstreet Boys</string>
                        <key>composerName</key>
                        <string>Backstreet Boys</string>
                        <key>duration</key>
                        <string>3:23</string>
                        <key>musicName</key>
                        <string>As Long as You Love Me</string>
                    </dict>
                    <dict>
                        <key>id</key>
                        <string>03</string>
                        <key>lyricistName</key>
                        <string>Backstreet Boys</string>
                        <key>composerName</key>
                        <string>Backstreet Boys</string>
                        <key>duration</key>
                        <string>4:21</string>
                        <key>musicName</key>
                        <string>All I Have to Give</string>
                    </dict>
                    <dict>
                        <key>id</key>
                        <string>04</string>
                        <key>lyricistName</key>
                        <string>Backstreet Boys</string>
                        <key>composerName</key>
                        <string>Backstreet Boys</string>
                        <key>duration</key>
                        <string>4:18</string>
                        <key>musicName</key>
                        <string>Anywhere for You</string>
                    </dict>
                    <dict>
                        <key>id</key>
                        <string>05</string>
                        <key>lyricistName</key>
                        <string>Backstreet Boys</string>
                        <key>composerName</key>
                        <string>Backstreet Boys</string>
                        <key>duration</key>
                        <string>3:01</string>
                        <key>musicName</key>
                        <string>Get Another Boyfriend</string>
                    </dict>
                    <dict>
                        <key>id</key>
                        <string>06</string>
                        <key>lyricistName</key>
                        <string>Backstreet Boys</string>
                        <key>composerName</key>
                        <string>Backstreet Boys</string>
                        <key>duration</key>
                        <string>3:33</string>
                        <key>musicName</key>
                        <string>In a World Like This</string>
                    </dict>
                    <dict>
                        <key>id</key>
                        <string>07</string>
                        <key>lyricistName</key>
                        <string>Backstreet Boys</string>
                        <key>composerName</key>
                        <string>Backstreet Boys</string>
                        <key>duration</key>
                        <string>3:07</string>
                        <key>musicName</key>
                        <string>The Answer to Our Life</string>
                    </dict>
                </array>
            </dict>
        </array>
    </dict>
</plist>
