<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>composerId</key>
        <string>04</string>
        <key>albums</key>
        <array>
            <dict>
                <key>albumId</key>
                <string>01</string>
                <key>albumName</key>
                <string>情敌贝多芬</string>
                <key>albumImage</key>
                <string>item_LeehomWang_01_icon</string>
                <key>productionCompany</key>
                <string>博德曼音乐</string>
                <key>issueDate</key>
                <string>1995年12月19日</string>
                <key>albumData</key>
                <array>
                    <dict>
                        <key>id</key>
                        <string>01</string>
                        <key>lyricistName</key>
                        <string>陈镇川</string>
                        <key>composerName</key>
                        <string>王力宏</string>
                        <key>duration</key>
                        <string>3:44</string>
                        <key>musicName</key>
                        <string>花田错 (Remix)</string>
                    </dict>
                    <dict>
                        <key>id</key>
                        <string>02</string>
                        <key>lyricistName</key>
                        <string>王力宏/楼南蔚/黄慧宁</string>
                        <key>composerName</key>
                        <string>王力宏/钟兴民</string>
                        <key>duration</key>
                        <string>4:49</string>
                        <key>musicName</key>
                        <string>爱的就是你</string>
                    </dict>
                    <dict>
                        <key>id</key>
                        <string>03</string>
                        <key>lyricistName</key>
                        <string>James Gicho/林夕/Pontus Sodergvist/Gicho/Sodergvist</string>
                        <key>composerName</key>
                        <string>James Gicho/Pontus Sodergvist/Lin Jix</string>
                        <key>duration</key>
                        <string>3:57</string>
                        <key>musicName</key>
                        <string>爱你等于爱自己</string>
                    </dict>
                    <dict>
                        <key>id</key>
                        <string>04</string>
                        <key>lyricistName</key>
                        <string>徐若瑄</string>
                        <key>composerName</key>
                        <string>王力宏</string>
                        <key>duration</key>
                        <string>3:53</string>
                        <key>musicName</key>
                        <string>柴米油盐酱醋茶</string>
                    </dict>
                    <dict>
                        <key>id</key>
                        <string>05</string>
                        <key>lyricistName</key>
                        <string>王力宏/易家扬/王大中</string>
                        <key>composerName</key>
                        <string>王力宏</string>
                        <key>duration</key>
                        <string>4:52</string>
                        <key>musicName</key>
                        <string>春雨里洗过的太阳</string>
                    </dict>
                    <dict>
                        <key>id</key>
                        <string>06</string>
                        <key>lyricistName</key>
                        <string>王力宏/陈镇川/K.Tee</string>
                        <key>composerName</key>
                        <string>王力宏</string>
                        <key>duration</key>
                        <string>3:43</string>
                        <key>musicName</key>
                        <string>大城小爱</string>
                    </dict>
                    <dict>
                        <key>id</key>
                        <string>07</string>
                        <key>lyricistName</key>
                        <string>王力宏</string>
                        <key>composerName</key>
                        <string>王力宏</string>
                        <key>duration</key>
                        <string>3:11</string>
                        <key>musicName</key>
                        <string>改变自己</string>
                    </dict>
                    <dict>
                        <key>id</key>
                        <string>08</string>
                        <key>lyricistName</key>
                        <string>Samuel Waermo/Pontus Soderqvist</string>
                        <key>composerName</key>
                        <string>刘志远</string>
                        <key>duration</key>
                        <string>4:21</string>
                        <key>musicName</key>
                        <string>公转自转</string>
                    </dict>
                    <dict>
                        <key>id</key>
                        <string>09</string>
                        <key>lyricistName</key>
                        <string>黄伟文</string>
                        <key>composerName</key>
                        <string>雷颂德</string>
                        <key>duration</key>
                        <string>3:01</string>
                        <key>musicName</key>
                        <string>好心分手</string>
                    </dict>
                    <dict>
                        <key>id</key>
                        <string>10</string>
                        <key>lyricistName</key>
                        <string>陈镇川</string>
                        <key>composerName</key>
                        <string>王力宏</string>
                        <key>duration</key>
                        <string>3:48</string>
                        <key>musicName</key>
                        <string>花田错</string>
                    </dict>
                    <dict>
                        <key>id</key>
                        <string>11</string>
                        <key>lyricistName</key>
                        <string>王力宏</string>
                        <key>composerName</key>
                        <string>王力宏</string>
                        <key>duration</key>
                        <string>4:29</string>
                        <key>musicName</key>
                        <string>火力全开</string>
                    </dict>
                    <dict>
                        <key>id</key>
                        <string>12</string>
                        <key>lyricistName</key>
                        <string>李焯雄</string>
                        <key>composerName</key>
                        <string>王力宏</string>
                        <key>duration</key>
                        <string>3:40</string>
                        <key>musicName</key>
                        <string>两个人不等于我们</string>
                    </dict>
                    <dict>
                        <key>id</key>
                        <string>13</string>
                        <key>lyricistName</key>
                        <string>葛大为/王力宏</string>
                        <key>composerName</key>
                        <string>王力宏</string>
                        <key>duration</key>
                        <string>4:26</string>
                        <key>musicName</key>
                        <string>另一个天堂</string>
                    </dict>
                    <dict>
                        <key>id</key>
                        <string>14</string>
                        <key>lyricistName</key>
                        <string>侯德健</string>
                        <key>composerName</key>
                        <string>王力宏</string>
                        <key>duration</key>
                        <string>4:41</string>
                        <key>musicName</key>
                        <string>龙的传人</string>
                    </dict>
                    <dict>
                        <key>id</key>
                        <string>15</string>
                        <key>lyricistName</key>
                        <string>王力宏</string>
                        <key>composerName</key>
                        <string>王力宏</string>
                        <key>duration</key>
                        <string>5:14</string>
                        <key>musicName</key>
                        <string>落叶归根</string>
                    </dict>
                    <dict>
                        <key>id</key>
                        <string>16</string>
                        <key>lyricistName</key>
                        <string>王力宏</string>
                        <key>composerName</key>
                        <string>王力宏</string>
                        <key>duration</key>
                        <string>3:28</string>
                        <key>musicName</key>
                        <string>美</string>
                    </dict>
                    <dict>
                        <key>id</key>
                        <string>17</string>
                        <key>lyricistName</key>
                        <string>王力宏/瑞业</string>
                        <key>composerName</key>
                        <string>王力宏</string>
                        <key>duration</key>
                        <string>4:39</string>
                        <key>musicName</key>
                        <string>你不知道的事</string>
                    </dict>
                    <dict>
                        <key>id</key>
                        <string>18</string>
                        <key>lyricistName</key>
                        <string>丁晓雯</string>
                        <key>composerName</key>
                        <string>王力宏/吴庆隆</string>
                        <key>duration</key>
                        <string>2:47</string>
                        <key>musicName</key>
                        <string>你是我心内的一首歌</string>
                    </dict>
                    <dict>
                        <key>id</key>
                        <string>19</string>
                        <key>lyricistName</key>
                        <string>方文山</string>
                        <key>composerName</key>
                        <string>唐达</string>
                        <key>duration</key>
                        <string>3:17</string>
                        <key>musicName</key>
                        <string>天地龙鳞</string>
                    </dict>
                    <dict>
                        <key>id</key>
                        <string>20</string>
                        <key>lyricistName</key>
                        <string>王力宏/"Hitman" Bang/陈镇川</string>
                        <key>composerName</key>
                        <string>王力宏</string>
                        <key>duration</key>
                        <string>3:57</string>
                        <key>musicName</key>
                        <string>完美的互动</string>
                    </dict>
                    <dict>
                        <key>id</key>
                        <string>21</string>
                        <key>lyricistName</key>
                        <string>王力宏</string>
                        <key>composerName</key>
                        <string>王力宏/刘志远</string>
                        <key>duration</key>
                        <string>4:22</string>
                        <key>musicName</key>
                        <string>唯一</string>
                    </dict>
                    <dict>
                        <key>id</key>
                        <string>22</string>
                        <key>lyricistName</key>
                        <string>易家扬/王力宏</string>
                        <key>composerName</key>
                        <string>王力宏</string>
                        <key>duration</key>
                        <string>4:23</string>
                        <key>musicName</key>
                        <string>心跳</string>
                    </dict>
                    <dict>
                        <key>id</key>
                        <string>23</string>
                        <key>lyricistName</key>
                        <string>王力宏</string>
                        <key>composerName</key>
                        <string>吴庆隆/王力宏</string>
                        <key>duration</key>
                        <string>4:11</string>
                        <key>musicName</key>
                        <string>需要人陪</string>
                    </dict>
                    <dict>
                        <key>id</key>
                        <string>24</string>
                        <key>lyricistName</key>
                        <string>阿信</string>
                        <key>composerName</key>
                        <string>王力宏</string>
                        <key>duration</key>
                        <string>4:37</string>
                        <key>musicName</key>
                        <string>在梅边</string>
                    </dict>
                    <dict>
                        <key>id</key>
                        <string>25</string>
                        <key>lyricistName</key>
                        <string>施立</string>
                        <key>composerName</key>
                        <string>王力宏</string>
                        <key>duration</key>
                        <string>4:33</string>
                        <key>musicName</key>
                        <string>Julia</string>
                    </dict>
                </array>
            </dict>
        </array>
    </dict>
</plist>
